// .content-wrapper{
//     // background-image: url('../../image/bg_banner.png');
//     // background-size: inherit;
//     // background-color: rgba(0,0,0,0.7);
// }
.content{
    height: 600px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    &__left{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        &-sub1{
            height: 50%;
            padding-bottom: 5px; 
            width: 100%;
            cursor: pointer;
            position: relative;
            &:hover{
                .content__center-overlay{
                    display: flex;
                }
            }
            &--img{
                height: 100%;
                width: 100%;
                border-radius: 5px;
                position: relative;
                img{
                height: 100%;
                width: 100%;
                }
            }
        }
        &-sub2{
            height: 50%;
            padding-top: 5px;
            width: 100%;
            cursor: pointer;
            position: relative;
            &:hover{
                .content__center-overlay{
                    display: flex;
                }
            }
            &--img{
                border-radius: 5px;
                height: 100%;
                width: 100%;
                position: relative;
                img{
                height: 100%;
                width: 100%;
                }
            }
        }
        
    }
    &__center{
        height: 100%;
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        &:hover{
            .content__center-overlay{
                display: flex;
            }
        }
        &-img{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            position: relative;
            img{
                height: 100%;
                width: 100%;
            }
            &--sub{
                position: absolute;
                bottom: 0;
                background: rgba(0,0,0,0.9);
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
               
                span{
                    font-weight: bold;
                }
                @include mobie{
                    height: 30px;
                    font-size: 1.3rem;
                }
            }
        }
        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            animation: cart-sub 0.25s linear;
            &--sub{
                display: flex;
                flex-direction: column;
                align-items: center;
               
                span{
                    color: $text-color;
                    font-size: 3rem;
                    transition: 0.2s all;
                }
                i{
                     transition: 0.3s all;
                }
                &:hover{
                    i{
                         color: $color-secondary-light;
                    }
                    span{
                        transform: scale(1.5);
                    }
                }
            }
            
        }
    }
    &__right{
        height: 100%;
        width: 100%;
        padding: 0 10px;
    }
    @include mobie{
        height: 310px;
    }
    @include tablet{
        height: 400px;
    }
}

.content2{
    height: 100px;
    background-color: $color-primary;
    span{
        display: inline-block;
        padding: 10px;
    }
}