.footer{
    .footer-wrap{
        padding: 50px 0;
        @include mobie{
            padding: 10px 0;
        }
    }
    background-color: $color-primary;
    color: white;
    h1{
        padding: 10px 0;
        margin-bottom: 15px;
        color: $color-secondary;
        
        @include mobie{
            font-size: 1.6rem;
            padding: 5px 0; 
            padding-bottom: 5px;
        }
    }
    &__left{
        padding: 10px 0;
        .description{
            display: block;
            color: rgb(216, 216, 216);
            padding-right: 55px;
            padding-bottom: 10px;
            @include mobie{
                font-size: 1rem;
                padding: 0 15px;
            }

        }
        &-social{
            display: flex;
            justify-content: left;
            a{
                cursor: pointer;
                font-size: 2rem;
                display: block;
                padding: 5px 10px;
                background-color: $color-secondary;
                border-radius: 10px;
                margin-top: 10px;
                margin-right: 15px;
                transition: 0.3s;
                color: $text-color;
                &:hover{
                    color: rgb(39, 39, 39);
                }
                @include mobie{
                    font-size: 1rem;
                    padding: 1px 5px;
                    margin-right: 5px;
                }
            }
            @include mobie{
                justify-content: center;
            }
        }
        @include mobie{
            text-align: center;
        }
    }
    &__center{
        padding: 10px 0;
        div{
            color: rgb(216, 216, 216);
            @include mobie{
                display: flex;
                justify-content: center;
            }
        }
        span{ 
            color: rgb(216, 216, 216);
            margin-right: 10px;
            @include mobie{
                font-size: 1rem;
                display: block;
            }
        }
        @include mobie{
            overflow: auto;
            font-size: 1rem;
        }
        @include mobie{
            text-align: center;
        }
    }
    &__right{
        padding: 10px 0;
        &-img{
            display: flex;
            justify-content: center;
            img{
                height: 100px;
                @include mobie{
                    height: 60px;
                }
            }
            @include mobie{
                margin-top: 5px;
            }
        }
        &-payment{
            padding-top: 20px;
            display: flex;
            justify-content: center;
        }
        &-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            input{
                padding: 5px 10px;
                background-color: $color-primary;
                border: 2px solid rgb(112, 112, 112);
                height: 40px;
                width: 100%;
                outline: none;
                border-radius: 5px;
                color: #999;
                @include mobie{
                    height: 30px;
                    width: 75%;
                    font-size: 1.4rem;
                }
            }
            button{
                width: 30%;
                padding: 10px;
                margin-top: 10px;
                background-color: $color-primary;
                border-radius: 10px;
                color: #999;
                cursor: pointer;
                outline: none;
                transition: 0.2s all;
                &:hover{
                    color: rgb(209, 209, 209);
                }
                @include mobie{
                    width: 25%;
                    padding: 5px;
                }
            }
        }
        span{
             color: rgb(216, 216, 216);
        }
        @include mobie{
            text-align: center;
            font-size: 1rem;
        }
    }
}
.footer-end{
    z-index: 1;
    height: 50px;
    background-color: $color-primary-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #999;
 
    &__toTop{
        position: absolute;
        top: -50px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            color: $color-secondary;
            transform: scale(1.5);
        }
        @include mobie{
            top: -25px;
        }
    }
    span{
        @include mobie{
        font-size: 1rem;
        }
    }
    @include mobie{
        height: 30px;
    }
}