.footer-banner-wrapper{
    background-color: $color-primary;
    border-top: 1px solid rgb(59, 59, 59);
    border-bottom: 1px solid rgb(59, 59, 59);
}

.footer-banner{
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        height: 100%;
        &:hover{
            .icon{
                transform: scale(1.3);
            }
        }
        .icon{
            display: block;
            padding: 0 30px;
            font-size: 4rem;
            transition: 0.2s all;
            color: $color-secondary;
            @include mobie{
                font-size: 2.5rem;
                padding: 0 5px;
            }
        }
        .sub{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include mobie{
                font-size: 1.1rem;
            }
        }
    }
}