.headerTop-wrapper{
    background-color: rgba(0,0,0,0.95);
    border-bottom:0.5px solid #353535;
    padding: 8px 0;
    @include mobie{
        padding: 5px;
    }
}
.headerTop{
    // padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    .icon{
        padding-right: 3px;
        color: $color-secondary-light;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .item{
        cursor: pointer;
        font-size: 1rem;
        box-sizing: border-box;
        transition: 0.2s all;
        font-weight: 100;
        &:hover{
            color: $color-secondary-light;
        }
    }
    &__left{
        width: 100%;
        ul{ 
            display: flex;
            list-style: none;
            margin: 0;
            li{
                padding-right: 15px;
                .icon{
                    padding-right: 6px;
                    font-size: 1.5rem;
                }
                @include mobie{
                    padding-right: 5px;
                    font-size: 1rem;
                }
            }
            
        }
    }
    &__right{
        text-align: end;
        a{
            display: inline-block;
            color: $text-color;
            padding: 0 5px;
            text-decoration: none;
        }
    }
   
}