
.wrapper-content-selling{
     background-image: url('../../image/bg_banner.png');
    background-color: rgba(0,0,0,0.7);
}
.selling-wrapper{
   padding: 50px 0;
   padding-top: 20px;
   @include mobie{
       padding: 20px 0;
   }
}
.selling{
    &__title{
        text-align: center;
        padding: 10px;
        h1{
            text-transform: uppercase;
            margin: 0;
            font-size: 4rem;
            color: $color-secondary-light;
            font-weight: bold;
            animation: heartBeat 0.3s infinite linear; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 3s;
            @include mobie{
                font-size: 2.5rem;
            }
        }
    }
    &__slide{
        width: 100%;
        margin-top: 15px;
        display: flex;
        &-item-padding{
            padding: 0 20px;
            outline: none;
            @include mobie{
                padding: 0 5px;
            }
        }
        &-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-primary-light;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            outline: none;
            &:hover{
                .selling__slide-item--overlay{
                    display: block;
                }
                .selling__slide-item--img__sub{
                    display: flex;
                }
            }
            &--overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.7);
                display: none;
                animation: cart-sub 0.2s linear;
            }
            &--img{
                height: 370px;
                margin-bottom: 5px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                img{
                    height: 100%;
                    width: 100%;
                    padding: 10px 10px;
                    @include mobie{
                        padding: 5px;
                    }
                }
                &__sub{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    display: none;
                    z-index: 5;
                    &-icon{
                        width: fit-content;
                       
                        span{
                            display: block;
                            padding: 5px 10px;
                            font-size: 2rem;
                            background-color: $color-primary-dark;
                            margin: 10px;
                            margin-bottom: 5px;
                            transition: 0.2s all;
                            &:hover{
                                background-color: $color-primary-light;
                            }
                        }
                        &--delay{
                            animation-delay: 0.3s;
                        }
                    }
                   
                }
                @include mobie{
                    height: 200px;
                }
            }
           
            &--content{
                padding: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .name{
                    font-size: 2.5rem;
                    font-weight: bold;
                    transition: 0.2s all;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    &:hover{
                        color: $color-secondary-light;
                    }
                    @include mobie{
                        font-size: 1.8rem;
                    }
                }
                .price{
                    .old-price{
                        display: inline-block;
                        color: #999;
                        text-decoration: line-through;
                        padding: 0 5px;
                    }
                    .new-price{
                        display: inline-block;
                       
                        font-weight: bold;
                        padding: 0 5px;
                    }
                    @include mobie{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}