.backround-deal-tips{
   background-image: url('../../image/bg_banner.png');
   background-color: rgba(0,0,0,0.7);
}
.tips__contents-item-padding{
    padding:  0 5px;
}
.slick-dots{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    li{
        padding: 0 5px;
        cursor: pointer;
    }
    li.slick-active{
        span{
            background-color: #999;
        }
    }
    span{
        display: block;
        padding: 5px;
        background-color: rgb(75, 75, 75);
        border-radius: 50%;
    }
}
.tips{
    padding-bottom: 30px;
    h1{
        font-size: 3rem;
        color: #999;
        text-align: center;
        @include mobie{
            font-size: 2rem;
        }
    }
    &__title{
        text-align: center;
        padding: 20px 0;
        
        h1{
            font-size: 4rem;
            font-weight: bold;
            color: $color-secondary-light;
            margin: 0;
            @include mobie{
                font-size: 3rem;
            }
        }
    }
    &__content{
        display: flex;
        width: 100%;
        &-item{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: $color-primary-light;
            border-radius: 5px;
            outline: none;
            &--img{
                height: 350px;
                width: 100%;
                img{
                    height: 100%;
                    width: 100%; 
                }
            }
            &--detail{
                padding: 10px 0;
                &__date{
                    font-size: 1.2rem;
                    color: #999;
                }
                &__title{
                    text-transform: uppercase;
                    padding: 10px 0;
                    font-size: 2rem;
                    font-weight: bold;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    cursor: pointer;
                    transition: 0.2s all;
                    &:hover{
                        color: $color-secondary-light;
                    }
                }
                &__sub{
                    padding: 5px 0;
                    font-size: 1.4rem;
                    color: #999;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
                &__readMore{
                    background-color: $color-primary;
                    width: fit-content;
                    padding: 5px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-top: 10px;
                    transition: 0.2s all;
                    &:hover{
                        background-color: $color-primary-dark;
                    }
                }
            }
        }
    }
}