
@import './abstracts/variable';
@import './base/typography';
@import './base/base';

@import './abstracts/mixin';
@import './abstracts/mixin';
// animation
@import './base/animation';
//layout
@import './layout/headerTop';
@import './layout/header';

@import './layout/menu';
@import './layout/content';

@import './layout/banner';

@import './layout/selling';
@import './layout/deal';
@import './layout/tips';
@import './layout/footer-banner';
@import './layout/footer';

//page
@import './page/shop';
@import './page/carts';
@import './page/login';
@import './page/blogs';
@import './page/about';
@import './page/checkout';