.about-wrapper{
    background-image: url("https://res.cloudinary.com/the-frog/image/upload/v1594302106/the-frog-main/bg_banner_dgfxhs.png");
    background-color: rgba(0,0,0,0.7);  
}
.about{
    h1{
        text-align: center;
        padding: 30px 0;
        text-transform: uppercase;
        color: $color-secondary-light;
        @include mobie{
            padding: 10px 0;
        }
    }
    p{
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;
        @include mobie{
            padding: 10px 0;
        }
    }
    &__fanpage{
        width: 30%;
        left: 0;
        text-align: center;
        h2{
            padding-bottom: 10px;
        }
    }
}