
.shop-top{
    background-color: $color-primary;
    &__title{
        text-align: center;
        padding: 10px 0;
        h1{
    
            color: $color-secondary-light;
            font-weight: bold;
            width: fit-content;
            position: relative;
            margin: 0 auto;
            text-transform: uppercase;
            &::before{
                content: '';
                position: absolute;
                top: calc(50% + -3px);
                height: 2px;
                width: 200px;
                background-color: $color-secondary-light;
                left: 120%;
                @include mobie {
                    width: 60px;
                    height: 1px;
                }
                @include tablet {
                    height: 1px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: calc(50% + -3px);
                height: 2px;
                width: 200px;
                background-color: $color-secondary-light;
                right: 120%;
                @include mobie{
                    width: 60px;
                    height: 1px;
                }
                @include tablet {
                    height: 1px;
                }
            }
            @include mobie{
                font-size: 2rem;
            }
            @include tablet{
                font-size: 2.8rem;
            }
        }
    }
    &__slide{
        display: flex;
        padding: 20px 0;
        &-item{
            
            padding: 10px;
            margin: 0 10px;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
            outline: none;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                height: 70px;
                margin: 0 auto;
                transition: 0.2s all;
                @include mobie{
                    height: 50px;
                }
                @include tablet{
                    height: 55px;
                }
            }
            @include mobie{
                margin: 0;
                padding: 0;
                outline: none;
            }
        }
        @include mobie{
            padding: 5px;
        }
    }
}
.shop-content-wrapper{
    width: 100%;
    background-color: $color-primary;
}
.shop{
    width: 100%;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    &__fanPage{
        width: 100%;
        margin-top: 50px;
    }
    &__category{
        // padding-bottom: 20px;
        
        border-radius: 5px;
        background-image: url('../../image/bg_banner.png');
        background-size: contain;
        &-title{
            padding: 10px;
            padding-top: 30px;
            font-size: 1.5rem;
            color: $color-secondary-light;
            width: 100%;
            text-align: center;
            @include tablet{
                font-size: 0.9rem;
            }
        }
        &-wrap{
            padding-top: 10px;
            padding: 10px;
            margin-bottom: 20px;
            ul{
                list-style: none;
        
            }
            li{
                border-bottom: 1px solid #222;
                font-size: 1.4rem;
                padding: 0 10px;
                display: flex;
                align-items: center;
                
                &:hover{
                    a{
                        transform: translateX(10px);
                        color: $color-secondary-light;
                    }
                }
                @include tablet{
                    font-size: 1.1rem;
                }
            }
            li a.shop__category-active{
                color: $color-secondary-light;
                font-weight: bold;
            }
            a{
                transition: 0.2s all;
                text-decoration:none;
                color: $text-color;
                display: inline-block;
                padding: 10px 20px;
                width: 100%;
            }
            
        }
        &-advertise{
            a{
                display: block;
                width: 100%;
                height: 100%;
                padding: 20px 10px;
                position: relative;
                &:hover{
                    .shop__category-advertise--overlay{
                        display: flex;
                    }
                }
                .shop__category-advertise--img{
                    width: 100%;
                    height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .shop__category-advertise--banner{
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    padding: 20px 0;
                    background-color: rgba(0,0,0,0.8);
                    z-index: 2;
                    h2{
                        color: $color-secondary-light;
                        font-weight: bold;
                    }
                    span{
                        font-size: 1.6rem;
                        color: rgb(214, 214, 214);
                        font-weight: bold;
                    }
                }
                .shop__category-advertise--overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.6);
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: none;
                    animation: cart-sub 0.2s linear;
                    span{
                        font-size: 3rem;
                        transition: 0.2s all;
                        color: $text-color;
                        padding: 20px;
                        &:hover{
                            transform: scale(1.5);
                            color: $color-secondary-light;
                        }
                    }
                }
            }
        }
        &-popular{
            &--wrap{
                margin-top: 20px;
                padding: 0 5px;
                padding-bottom: 29px;
                &-item{
                    height: 70px;
                    display: flex;
                    background-color: $color-primary;
                    padding: 5px;
                    align-items: center;
                    margin-bottom: 5px;
                    border-radius: 10px;
                    .popular-img{
                        height: 100%;
                        flex: 2;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .popular-content{
                        height: 100%;
                        flex: 8;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 10px;
                        &__name{
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: 0.2s all;
                            font-size: 1.4rem;
                            &:hover{
                                color: $color-secondary-light
                            }
                        }
                        &__price{
                            font-size: 1.3rem;
                            color: rgb(180, 180, 180);
                        }
                    }
                }
            }
            
        }
        @include mobie{
            display: none;
        }
    }

    &__contentBackground{
        background-image: url('../../image/bg_banner.png');
        padding-top: 5px;
    }

    &__content{
        width: 100%;
        
        margin-left:10px;
        .content-item-padding{
            padding: 0 5px;
            margin-bottom: 10px;
        }
        &-sort{
            padding: 5px 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            background-color: $color-primary-light;
            align-items: center;
            select{
                margin-left: 5px;
                padding: 10px 5px;
                background-color: $color-primary;
                color: $text-color;
                border: none;
                outline: none;
                cursor: pointer;
                
            }
            &--icon{
                padding:0 10px;
                cursor: pointer;
                &:hover{
                    color: $color-primary;
                }
            }
        }
        &-item{
            height: 410px;
            width: 100%;
            padding: 10px;
            background-color: $color-primary-light;
            @include tablet{
                height: 250px;
                padding: 4px;
            }
            &--img{
                width: 100%;
                height: 70%;
                cursor: pointer;
                position: relative;
                img{
                    height: 100%;
                    width: 100%;
                }
                &:hover{
                    .shop__content-item--img-overlay{
                        display: flex;
                        background-color: rgba(0,0,0,0.7);
                        animation: cart-sub 0.2s linear;
                        .icon-wrapper{
                            transform: translateY(0);
                        }
                    }
                }
                &-overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0; 
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    overflow: hidden;    
                    .icon-wrapper{
                        display: flex;
                        width: 100%;
                        padding: 10px;
                        background: #333;
                        transform: translateY(100%);
                        transition: 0.2s all;
                        &__add{
                            flex: 7;
                            border: 1px solid #222;
                            padding: 0 10px;
                            background-color: #222;
                            border-radius: 5px;
                            transition: 0.2s all;
                            cursor: pointer;
                            .icon-cart{
                                padding: 0 5px;
                            }
                            &:hover{
                                background-color: #333;
                                color: $color-secondary-light;
                            }
                            @include mobie {
                                font-size: 1.1rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 0 4px;
                            }
                            @include tablet {
                                font-size: 1.2rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 0 4px;
                            }
                        }
                        &__icon{
                            flex: 3;
                            display: flex;
                            justify-content: space-around;
                            padding: 0 5px;
                            align-items: center;
                            a{
                                padding: 0 5px;
                                color: $text-color;
                                cursor: pointer;
                                &:hover{
                                    color: $color-secondary-light;
                                }
                            }
                            @include mobie{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            &--sub{
                height: 30%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .name{
                    height: 61px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.2s all;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-align: center;
                    overflow: hidden;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    a{
                        color: $text-color;
                        text-decoration: none;
                        &:hover{
                            color: $color-secondary-light;
                        }
                        @include tablet{
                            font-size: 0.9rem;
                        }
                    }
                    @include mobie{
                        height: 50px;
                        font-size: 1rem;
                    }
                    @include tablet{
                        height: 45px;
                        font-size: 1.1rem;
                    }
                }
                .price{
                    span{
                        padding: 0 5px;
                        font-weight: bold;
                    }
                    .old{
                        text-decoration: line-through;
                        color: #999;
                    }
                    @include mobie{
                        font-size: 1rem;
                        padding-top: 5px;
                    }
                    @include tablet{
                        font-size: 1rem;
                    }
                }
            }
            @include mobie{
                height: 300px;
                padding: 5px;
            }
            @include tablet-plus{
                height: 400px;
            }
        }
        &-pagination{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url('../../image/bg_banner.png');
            &--wrap{
                background-color: $color-primary-light;
                padding: 5px 10px;
                border-radius: 15px;
                ul{
                    list-style: none;
                    display: flex;
                    li{
                        // border: 1px solid #999;
                        // border-radius: 50%;
                        cursor: pointer;
                        margin: 0 1px;
                    }
                    li.shop__content-pagination--active{
                        a{
                            color: #07dc00;
                        }
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        font-size: 1.3rem;
                        padding: 3px 7px;
                        color: $text-color;
                        font-weight: bold;
                        transition: 0.2s all;
                        &:hover{
                            color: $color-secondary-light;
                        }
                    }
                }
            }
        }
        @include mobie{
            margin: 0;
            padding: 0 5px;
        }
    }
    @include mobie{
        padding: 0;
    }
}

.detailProduct-wrapper{
    background-image: url('../../image/bg_banner.png');
    padding: 50px 0;
    background-color: rgba(0,0,0,0.7);
}
.detailProduct{
    display: flex;
    align-items: center;
    @include mobie{
        flex-direction: column;
    }
    &__image{
        flex: 6;
        display: flex;
        justify-content: center;
        overflow: hidden;
        outline: none;
        padding: 0 20px;
        img{
            border-radius: 10px;
            outline: none;
            @include mobie{
                border-radius: 0;
            }
        }
        .image-gallery-slide-wrapper.bottom{
            button{
                outline: none;
                svg{
                    height: 60px;
                    width: 25px;
                }
        }
        }
        .image-gallery-content .image-gallery-slide .image-gallery-image{
            max-height: 500px;
        }
        .image-gallery-left-nav{
            left: 15%;
            @include mobie{
                left: 0;
            }
        }
        .image-gallery-icon.image-gallery-right-nav{
            right: 15%;
            @include mobie{
                right: 0;
            }
        }
        
    }
    &__content{
        flex: 4;
        &-sub{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                text-transform: uppercase;
                font-size: 3rem;
                text-align: center;
                @include mobie{
                    font-size: 2.5rem;
                }
            }
            .category{
                text-transform: uppercase;
                margin-bottom: 10px;
                color: rgb(187, 187, 187);
            }
            .price{
                span{
                    padding: 0 5px;
                    font-size: 1.6rem;
                }
                .oldPrice{
                    color: #999;
                    text-decoration: line-through;
                }
                .newPrice{
                    color:white;
                    font-weight: bold;
                }
            }
        }
        &-size{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            select{
                width: 80%;
                cursor: pointer;
                padding: 10px;
                outline: none;
                border: none;
                background: $color-primary-light;
                color: $text-color;
                border-radius: 5px;
            }
        }
        &-color{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            cursor: pointer;
            select{
                width: 80%;
                cursor: pointer;
                padding: 10px;
                outline: none;
                border: none;
                background: $color-primary-light;
                color: $text-color;
                border-radius: 5px;
            }
        }
        &-checkout{
            
            display: flex;
            justify-content: center;
            width: 80%;
            padding: 10px;
            outline: none;
            border: none;
            background: $color-primary-light;
            color: $text-color;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 20px;
            cursor: pointer;
            transition: 0.2s all;
            border: 1px solid #999;
            &:hover{
                background-color: $color-primary;
                border: 1px solid #999;
                color: $color-secondary-light;
            }
        }
        &-buynow{
            
            display: flex;
            justify-content: center;
            width: 80%;
            padding: 10px;
            outline: none;
            border: none;
            background: $color-primary-dark;
            color: $text-color;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 20px;
            cursor: pointer;
            transition: 0.2s all;
            border: 1px solid #999;
            &:hover{
                background-color: $color-primary;
                border: 1px solid #999;
                color: $color-secondary-light;
            }
        }
        &-description{
            width: 80%;
           margin: 0 auto;
           margin-top: 20px;

        }
    }
}
.loading-shop{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    .loading-wrap{
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            position: absolute;
        }
        &-border{
            transition: 0.2s all;
            animation: loading-frog 3s linear infinite;
            @include mobie{
                height: 220px;
            }
        }
        &-main{
            animation: jello 0.3s infinite linear;
            animation-duration: 2s;
            color: #009245;
            font-weight: bold;
            font-size: 3.5rem;
            @include mobie{
                font-size: 3rem;
            }
        }
        @include mobie{
            height: 300px;
        }
    }
}
.shop__coming{
    padding: 30px;
    text-align: center;
    width: 100%;
    h2{
        padding: 10px;
        color: $color-secondary-light;
    }
}
